body{
    background-color: aliceblue;
    color: black;
    margin: 0%;
    padding: 0%;
}
.container{
    color: white;
    text-align: center;
    display: block;
    font-display: 3px;
    border: 2px red solid;
    box-sizing: border-box;
    
}