body{
    background-color: aliceblue;
    color: black;
    margin: 0%;
    padding: 0%;
}
.container{
    color: white;
    text-align: center;
    display: block;
    font-display: 3px;
    border: 2px red solid;
    box-sizing: border-box;
    
}
#footer{
    color: green;
}
.button:hover{
    color: red;
}
.button:visited{
    color: #0048ff;
}
.footer{
    text-align: center;
    text-decoration: underline;
}